NODE_ENV=development
PORT=3000

# -----------------------------
# Neon Serverless PostgreSQL Database
# -----------------------------
DATABASE_URL="postgresql://username:password@ep-sample-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://username:password@ep-sample-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"

# -----------------------------
# JWT Authentication Config
# -----------------------------
JWT_SECRET="your_jwt_secret_key"
jwt_secret="your_jwt_secret_key"
EXPIRES_IN="30d"
expires_in="30d"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
refresh_token_secret="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRES_IN="365d"
refresh_token_expires_in="365d"

RESET_PASS_TOKEN="your_reset_pass_token"
reset_pass_token="your_reset_pass_token"
RESET_PASS_LINK="http://localhost:3000/reset-pass"

# -----------------------------
# Nodemailer Email Configuration
# -----------------------------
EMAIL="your_email@gmail.com"
APP_PASSWORD="your_app_password"

# -----------------------------
# SSLCommerz Payment Gateway Configuration
# -----------------------------
SSL_STORE_ID="progr69b6aa9d0f43f"
SSL_STORE_PASS="progr69b6aa9d0f43f@ssl"
SSL_API_URL="https://sandbox.sslcommerz.com/gwprocess/v4/api.php"
CLIENT_URL="http://localhost:3000"
BACKEND_URL="http://localhost:3000"
